*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:#0f172a;
color:white;
padding:40px;
}

h1{
margin-bottom:30px;
}

#searchBox{

width:100%;
padding:15px;
border:none;
border-radius:15px;
margin-bottom:30px;

}

.question{

background:#1e293b;
padding:25px;
margin-bottom:20px;
border-radius:15px;

}

.question h2{

cursor:pointer;
color:#38bdf8;

}

.question p{

display:none;
margin-top:20px;
line-height:1.7;

}