*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:#0f172a;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.profile-card{

width:400px;
background:#1e293b;
padding:40px;
text-align:center;
border-radius:20px;
color:white;

}

img{

width:150px;
border-radius:50%;
margin-bottom:20px;

}

button{

margin-top:20px;
padding:15px 30px;
background:#38bdf8;
border:none;
border-radius:15px;
cursor:pointer;

}
form{

display:flex;
flex-direction:column;
margin-top:20px;

}

form input{

padding:12px;
border:none;
border-radius:10px;
margin-bottom:15px;
background:#334155;
color:white;

}

form button{

padding:12px;
background:#38bdf8;
border:none;
border-radius:10px;
cursor:pointer;
font-size:16px;

}

form button:hover{

background:#0ea5e9;

}